/*Imports*/
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/*Body*/
body{
    font-family:'Garet',sans-serif;
    background-color:#FBFBFB;
    margin:0px;
    padding:0px;
    font:'Montserrat', sans-serif;
}

.grid-container-3-colums {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 10px;
    padding: 10px;
  }

button{
    
  }

.item1 { grid-area: header; }
.item2 { grid-area: menu; }
.item3 { grid-area: main; }
.item4 { grid-area: right; }
.item5 { grid-area: footer; }

.grid-container-webpage-setup {
  display: grid;
  grid-template-areas:
    'header header header header header header'
    'menu main main main right right'
    'menu footer footer footer footer footer';
  gap: 10px;
  background-color: #2196F3;
  padding: 10px;
}

/*Header*/
header{
    background-color: #F1A1A5;
    text-align:center;
    padding:10px;
    margin:0px;
}

nav{
    background-color: #FBFBFB;
    margin:0px;
    text-align:left;
}

footer{
    background-color: #855363; 
    justify-content: center;  
}

/*Fonts*/
h1{
    font-family:'Quicksand',sans-serif;
    color:#1B0B0B;
}

/*Sections*/
#heading{
    background-color:#CFE6FC;
}