
<!DOCTYPE html>
<html lang="en">
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Home</title>
	<link rel="icon" type="image/x-icon" href="../assets/favicon/mimosamifav.ico">
	<link rel="stylesheet" href="../assets/css/MimosamiStyle.css">
</head>

<body>

<div class="banner">
    <nav class="nav-links">
            <button class="nav-button"><a href="../actions/userLogin.php">Log In</a></button>
            <button class="nav-button"><a href="Signup.php">Sign Up</a></button>
    </nav>

    <header class="scrolled">
        <a href="Homepage.html"><h1>Mimosami</h1></a>
    </header>
</div>

<main>
    <div class="homepageVideo">
        <video autoplay loop muted>
            <source src="../assets/videos/mimovid2.mp4" type="video/mp4">
            Your browser does not support the video tag.
        </video>
    </div>

    <div class="marquee">
        <div class="scrolling-text-inner" style="--marquee-speed: 20s; --direction:scroll-left" role="marquee">
            <div class="scrolling-text-item">
                <p>New arrivals! Try them now!New arrivals! Try them now!New arrivals! Try them now!New arrivals! </p>
            </div>
        </div>
    </div>

    <!--Gallery-->
    <div class="gallery">
        <div class="grid-item"><img src="../assets/images/cupcake.jpg"></div>
        <div class="grid-item"><img src="../assets/images/brownies-home.jpg"></div>
        <div class="grid-item"><img src="../assets/images/cookie_monster.jpg"></div>
    </div>

    <div class="marquee" id="type2">
        <div class="scrolling-text-inner" style="--marquee-speed: 20s; --direction:scroll-left" role="marquee">
            <div class="scrolling-text-item">
                <p>Mimosami  Mimosami  Mimosami  Mimosami  Mimosami Mimosami Mimosami Mimosami Mimosami Mimosami Mimosami Mimosami Mimosami Mimosami</p>
            </div>
        </div>
    </div>

    <div class="grid-container-2-columns description">
        
        <div class="product-grid-item">
            <h1>xo,Mimosami</h1>
            <p>
                Where every bite is a little moment of joy. 
                We're so happy to have you here! From freshly baked brownies, cupcakes, cookies, and cakes, we've got a treat for every sweet tooth.
                Whether you're celebrating a special occasion or simply craving something delicious, we promise to deliver the freshest, most delightful goodies, made with love and a sprinkle of happiness.
                <br><br>
                Take a look around, and let us sweeten your day!
            </p>
            <a href="../view/Products.php"><button id="action-button" class="custom-button">Shop Now</button></a>
        </div>
        
        <div class="product-grid-item">
            <div class="image-div">
                <img src="../assets/logo/MimosamiLogo.png" alt="A cute image" style="width:300px; height:auto">
            </div>
        </div>

    </div>
</main>

<footer>
    <div class="footer-content">
        <p class="follow-text">Connect</p>
        <img src="../assets/images/insta.png" alt="Instagram Logo" class="social-logo">
    </div>
    <p class="footer-note">© 2024 All rights reserved <br> 
    <a href="#">Privacy Policy</a> | <a href="#">Terms and Conditions</a> <br>
    Powered by Power</p>
</footer>

<script>
    const header = document.querySelector('header');

    const handleScroll = () => {
    if (window.scrollY > 0) {
        header.classList.add('scrolled');
    } else {
        header.classList.remove('scrolled');
    }
    };

    handleScroll();

    window.addEventListener('scroll', handleScroll);

</script>

</body>
</html>