
<!DOCTYPE html>
<html lang="en">
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Home</title>
	<link rel="icon" type="image/x-icon" href="xxx">
	<link rel="stylesheet" href="../assets/css/MimosamiStyle.css">
</head>

<body>

<nav>
    <h1 class="logo">Mimosami</h1>
    <div class="nav-links">
        <button><a href="#">Log In</a></button>
        <button><a href="#">Sign Up</a></button>
        <!-- <img src="MimosamiLogo.png" alt="cupcake"> -->
    </div>
</nav>

<div class="div2">
    <video autoplay loop muted>
        <source src="mimovid2.mp4" type="video/mp4">
        Your browser does not support the video tag.
    </video>
</div>

<div class="div3">
    <div class="scrolling-text-inner" style="--marquee-speed: 20s; --direction:scroll-left" role="marquee">
        <p class="scrolling-text-item">New arrivals! Try them now!New arrivals! Try them now!New arrivals! Try them now!New arrivals! </p>
    </div>
</div>


<script>
   window.addEventListener('scroll', function() {
    const nav = document.querySelector('nav');
    if (window.scrollY > 50) {
        nav.classList.add('scrolled');
    } else {
        nav.classList.remove('scrolled');
    }
});


    
</script>

<div class="div4">
    <div class="grid-item1">
        

    </div>
    <div class="grid-item2"></div>
    <div class="grid-item3"></div>
    <div class="grid-item4"></div>
</div>


<div class="div5">
    Mimosami  Mimosami  Mimosami  Mimosami  Mimosami Mimosami Mimosami Mimosami Mimosami Mimosami Mimosami Mimosami Mimosami Mimosami 
</div>

<div class="div6">
    <div class="text-div">
        <h1>xo,Mimosami</h1>
        <br>
        <p>
            Where every bite is a little moment of joy. 
            We’re so happy to have you here! From freshly baked brownies, cupcakes, cookies, and cakes, we’ve got a treat for every sweet tooth.
            Whether you're celebrating a special occasion or simply craving something delicious, we promise to deliver the freshest, most delightful goodies, made with love and a sprinkle of happiness.

            Take a look around, and let us sweeten your day!
        </p>
        <button id="action-button" class="custom-button">Shop Now</button>
    </div>
    <div class="image-div">
        <img src="MimosamiLogo.png" alt="A cute image">
    </div>
</div>

</body>
</html>


<footer>
    <div class="footer-content">
        <p class="follow-text">Connect</p>
        <img src="images/insta.png" alt="Instagram Logo" class="social-logo">
    </div>
    <p class="footer-note">© 2024 All rights reserved <br> 
    <a href="#">Privacy Policy</a> | <a href="#">Terms and Conditions</a> <br>
    Powered by Power</p>
</footer>


</body>

<script>
</script>

</html>