<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="icon" type="image/x-icon" href="xxx">
	<link rel="stylesheet" href="../assets/css/MimosamiStyle.css">
    <title>Products</title>
</head>
<body class="products">

<main>
    <div class="banner">
        <nav class="nav-links">
                <button class="nav-button"><a href="UserLogin.html">Basket</a></button>
                <button class="nav-button"><a href="Signup.php">Checkout</a></button>
        </nav>
    
        <header class="scrolled">
            <a href="Homepage.html"><h1>Mimosami</h1></a>
        </header>
    </div>

    <div class="homepageVideo">
        <video autoplay loop muted>
            <source src="../assets/videos/mimovid2.mp4" type="video/mp4">
            Your browser does not support the video tag.
        </video>
    </div>
    
    <div>
        <h2>Products</h2>

        <div class="grid-container-2-columns" id="card">
            <div class="product-grid-item">
                <img style="width:100px; height:auto" src="../assets/images/fudgy_brownies.jpg">
            </div>

            <div class="product-grid-item">
                <h3>Brownies</h3>
                <p>Fudgy, rich brownies with chunks of dark chocolate for cocoa lovers.</p>
                <h3>$20</h3>
                <form>
                    <label style="font-size:10px">Quantity:<p>
                    <input type="text"></input><br>
                    <button type="submit" class="custom-button">Add to basket</button>
                </form>
            </div>
            
        </div>

    </div>
    
    
    
    <footer>
        <div class="footer-content">
            <p class="follow-text">Connect</p>
            <img src="../assets/images/insta.png" alt="Instagram Logo" class="social-logo">
        </div>
        <p class="footer-note">© 2024 All rights reserved <br> 
        <a href="#">Privacy Policy</a> | <a href="#">Terms and Conditions</a> <br>
        Powered by Power</p>
    </footer>

</main>

    
</body>
</html>

<!--
<section>
    <h3>The Cookie Jar</h3> 
    <div>

        <div class="products-grid-item" id="card">
            <img src="oreo_cookies.jpg">
            <h4>Oreo Cookies</h4>
            <h5>Price</h5>
        </div>

        <div class="grid-item">
            <img src="cookie_monster.jpg">
            <h4>Cookie Monster Cookies</h4>
            <h5>Price</h5>
        </div>

        <div class="grid-item">
            <img src="red_velvet_cookie.jpg">
            <h4>Red Velvet Cookies</h4>
            <h5>Price</h5>
        </div>
    </div>
</section>

<section>
    <h3>Brown Times</h3> 

    <div class="grid-item">

        <h4>Fudgiest Brownies</h4>
        <h5>Price</h5>
    </div>

    <div class="grid-item">
        <img src="biscoff_brownies.jpeg">
        <h4>Biscoff Brownies</h4>
        <h5>Price</h5>
    </div>

    <div class="grid-item">
        <img src="mocha_swirl_brownies.jpg">
        <h4>Mocha Swirl Brownies</h4>
        <h5>Price</h5>
    </div>

    <div class="grid-item">
        <img src="red_velvet_brownies.jpg">
        <h4>Red Velvet Brownies</h4>
        <h5>Price</h5>
    </div>
</section>

<section>
<div>
    <h3>Cinnamon Bliss</h3> 
</div>

<div>
    <h3>Loaf It Up</h3> 
</div>

<div>
    <h3>Cake It Up</h3> 
</div>
</div>-->
