
<!DOCTYPE html>
<html lang="en">
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Thank you</title>
	<link rel="icon" type="image/x-icon" href="../assets/favicon/mimosamifav.ico">
	<link rel="stylesheet" href="../assets/css/MimosamiStyle.css">
</head>

<body style="background-color:#eaf1f7;">

    <div class="banner">
        <nav class="nav-links">
                <button class="nav-button"><a href="UserLogin.html">Log In</a></button>
                <button class="nav-button"><a href="Signup.php">Sign Up</a></button>
        </nav>
    
        <header class="scrolled">
            <a href="Homepage.html"><h1>Mimosami</h1></a>
        </header>
    </div>
    

<main>
    <div style="height:100px">
    </div>
    <div class="marquee" style="background-color:#eaf1f7;">
        <div class="scrolling-text-inner" style="--marquee-speed: 20s; --direction:scroll-left" role="marquee">
            <div class="scrolling-text-item">
                <p>Thank you! Thanl you! Thank you! Thank you! Thank you! Thank you!</p>
            </div>
        </div>
    </div>
    <div id="card">
        <h2>Your order has been recieved</h2>
        <br>
        <p style="text-align:center;">We will reach out to deliver your order in the next 1 to 2 business days.</p>

        <a href="../view/Products.php"><button id="action-button" class="custom-button">Continue Shopping</button></a><br><br>
    </div>
</main>
</body>
</html>